* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  position: fixed;
  background-color: black;
  color: rgba(250, 250, 37, 0.8);
  position: fixed;
  top: 0;
}

nav img {
  width: 100px;
  height: 90px;
}

nav h1 {
  font-family: "Lobster", cursive;
}
/*Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: o;
  margin: 0;
  background-color: white;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: black;
  text-align: center;
}
